@tailwind base;

/* Recreate some normal files */
h1 {
    @apply text-2xl;
}
h2 {
    @apply text-xl;
}
h3 {
    @apply text-lg;
}
@tailwind components;

/* Default */
body {
    @apply text-black;
    @apply bg-white;
    @apply max-w-screen-lg m-auto;
}
a {
    @apply underline;
    text-decoration-style: dotted;
}
header {
    @apply mb-4;
}
header h1 {
    @apply text-gray-900 text-center;
    @apply mt-4;
}
main {
    @apply shadow;
}
.host,
.url {
    @apply border-b;
    @apply px-2;
}
.host.active {
    @apply border-l-2 border-indigo-400;
}
.host > div {
    @apply border-l-2 border-transparent;
}
.host-header,
.url-header {
    @apply flex justify-between items-center pt-4 pl-4 pr-4 cursor-pointer select-none;
}
.hostname {
    @apply text-gray-900 font-thin text-xl;
}
.url-address {
    @apply text-gray-900 font-thin text-lg;
}
.url.active {
    @apply border-l-2 border-indigo-400;
    @apply mb-4;
}
.report {
    @apply px-4 pt-2 mb-4;
}
.report.error {
    @apply border border-red-700 rounded;
    @apply bg-red-100;
}
.report-message {
    @apply font-bold;
}
.report-code {
    @apply text-xs;
    overflow: auto;
}
.report-context {
    @apply border border-gray-700 rounded;
    @apply bg-gray-200;
    @apply mt-2 mb-2 p-2;
    white-space: break-spaces;
}
.caret {
    @apply rounded-full border border-gray-400 w-6 h-6 flex items-center justify-center;
}
.caret.active {
    @apply rounded-full border border-indigo-400 w-6 h-6 flex items-center justify-center bg-indigo-100;
}
svg {
    @apply h-4 w-4;
    @apply text-black;
}
.caret.active svg {
}
.count {
    @apply border;
    @apply p-1;
}
.count.errors {
    @apply bg-red-100;
    @apply border-red-700 rounded;
    @apply text-red-900 font-bold;
}
footer {
    @apply text-center;
    @apply my-4;
}
@media (prefers-color-scheme: dark) {
    body {
        @apply text-white;
        @apply bg-black;
    }
    header h1,
    .hostname,
    .url-address {
        @apply text-gray-100;
    }
    .report.error {
        @apply border border-red-100 rounded;
        @apply bg-red-900;
    }
    .report-context {
        @apply border border-gray-100 rounded;
        @apply bg-gray-800;
    }
    .caret {
        @apply border-gray-200;
    }
    .caret.active {
        @apply bg-indigo-700;
    }
    svg {
        @apply text-white;
    }
    .count.errors {
        @apply bg-red-900;
        @apply border-red-200;
        @apply text-red-100;
    }
}
@tailwind utilities;
